* {
    margin: 0;
    padding: 0;
}

img {
    height: 150px;
    width: 150px;
    padding: 25px;
}

.mid {
    text-align: center;
}

header {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #0B0B61;
    font-size: 24px;
    background-color: white;
    padding: 5px;
}


#scoreboard {
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 20px;
}

#select_item {
    margin-top: 50px;
}

#computer_area {
    font-family: 'Titillium Web', sans-serif;
    margin-top: 60px;
    color: white;
    text-align: center;
}

#comp_selected {
    padding: 40px;
    margin-top: 30px;
    color: white;
    border: solid;
    border-width: 5px;
}

body {
    background-color: black;
}

footer {
    text-align: center;
    font-family: 'Arial', sans-serif;
    position: bottom;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 10px;
    color: white;
}