* {
    margin: 0;
    padding: 0;
}

img {
    height: 150px;
    width: 150px;
    padding: 25px;
}

.mid {
    text-align: center;
}

header {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #0B0B61;
    font-size: 24px;
    background-color: white;
    padding: 5px;
}


#scoreboard {
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 20px;
}

#select_item {
    margin-top: 50px;
}

#computer_area {
    color: white;
}

body {
    background-color: black;
}